@import "tailwindcss";

monst{
  font-family: 'Montserrat', sans-serif;
 
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
}
/* Hide scrollbars on mobile horizontal scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

img {
  will-change: transform, opacity;
 
}
