@import "tailwindcss";

monst{
  font-family: 'Montserrat', sans-serif;
 
}
@keyframes blinkFade {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.animate-blink-fade {
  animation: blinkFade 1.5s ease-in-out infinite;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}
/* Hide scrollbars on mobile horizontal scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

img{
   content-visibility: auto;
}
